<div class="row">
  <div class="panel panel-default devise-bs">
    <div class="panel-heading">
      <h1>O stronie przychodni</h1>
    </div>
    <div class="panel-body">
      <p>Kilka podstawowych informacji</p>
    </div>
  </div>
</div>
