<div class="jumbotron">
    <h1>Przychodni@</h1>
    <p>
      Serwis obsługi rejestracji pacjentów do przychodni.
    </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Opis</h3>
      <p>Przychodnia "Nowy dzień"</p>
    </div>
    <div class="col-sm-4">
      <h3>Godziny otwarcia</h3>
      <p>Poniedziałek 7-19</p>
      <p>Wtorek 7-19</p>
	  <p>Środa 7-19</p>
	  <p>Czwartek 7-19</p>
	  <p>Piątek 7-19</p>
    </div>
    <div class="col-sm-4">
      <h3>Kontakt</h3>
      <p>Adres: ul. Pochmurna 45, Korczyn 12</p>
      <p>Telefon: +48 000-00-00</p>
    </div>
  </div>
</div>
