<p>
  <strong>Data wizyty:</strong>
  <%= @visit.visit_date.strftime("%d/%m/%Y %H:%M") %>
</p>
<p>
  <strong>Pacjent:</strong>
  <%= Patient.find(@visit.patient_id).name %>
</p>
<p>
  <strong>Lekarz:</strong>
  <%= Doctor.find(@visit.doctor_id).name %>
</p>
