<p id="notice"><%= notice %></p>

<p>
  <strong>Visit date:</strong>
  <%= @visit.visit_date %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @visit.patient_id %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @visit.doctor_id %>
</p>
