<div class="row">
  <div class="panel panel-default devise-bs">
    <div class="panel-heading"><h4>Lista lekarzy: </h4></div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class=" table table-striped table-hover">
          <thead>
            <tr>
              <th>Imię i nazwisko</th>
              <th>Adres e-mail</th>
              <th>Numer telefonu</th>
              <th>Specjalizacje</th>
            </tr>
          </thead>
          <tbody>
            <% @doctors.each do |doctor| %>
            <tr>
              <td><%= doctor.name %></td>
              <td><%= doctor.email %></td>
              <td><%= doctor.phone %></td>
              <td><% doctor.specializations.each do |s| %>
                <%= s.appellation %><br>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
