@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";
@import 'bootstrap-datetimepicker';

#custom-navbar-text{
  color: green
}

@media (max-width: 480px){
  body .container .row [class*="col-"] {
    padding:0;
    margin:0;
  }
}
