@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";
@import 'bootstrap-datetimepicker';
@import 'simple_calendar';

#custom-navbar-text{
  color: green
}

@media (max-width: 480px){
  body .container .row [class*="col-"] {
    margin:0;
  }
}

.bootstrap-datetimepicker-widget table td.hour:not(.disabled) {
    background-color: #92B558;
    color: #fff;
}

.bootstrap-datetimepicker-widget table td.hour:not(.disabled):hover {
    background-color: #92CC58;
    color: #fff;
}
